<% @search_posts.each do |post| %>
  <div>
    <p>探し物: <%= post.item_name %></p>
    <p>探している場所: <%= post.search_place %></p>
    <% if post.user == current_user %>
      <%= link_to '編集', edit_search_post_path(post) %> |
      <%= link_to '削除', search_post_path(post),
    data: { turbo_method: :delete, turbo_confirm: '削除してよろしいですか？' } %>
    <% end %>
  </div>
<% end %>
