<h3>何をお探しですか？</h3>

<%= form_with model: @search_post, url: search_posts_path, local: true do |f| %>
  <div>
    <%= f.label :item_name, "探し物" %><br>
    <%= f.text_field :item_name %>
  </div>

  <div>
    <%= f.submit "投稿する" %>
  </div>
<% end %>
