<p><%= @email %> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>現在、メールアドレスを <%= @resource.unconfirmed_email %> に変更する手続き中です。</p>
  <p 変更を完了するために、先ほどお送りした確認メールのリンクをクリックしてください。</p>
<% else %>
  <p>メールアドレスが <%= @resource.email %> に変更されました。</p>
  <p>この操作に心当たりがない場合は、速やかにお問い合わせください。</p>
<% end %>
